.tree_nav{
	width: 330px;
	flex-shrink: 0;
	min-height: 100%;
	padding: 18px 0 18px 18px;
	border-right: 1px solid rgba(235,235,235,1);
}
.tree_search{
	padding-right: 20px;
}
.right_wraper{
	flex-grow: 1;
	overflow: hidden;
}
.inner_top_title{
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid rgba(242,242,242,1);
	padding: 0 18px;
}
.inner_top_title_btns button{
	margin-left: 10px;
}
.tree_nav .ant-tree li .ant-tree-node-content-wrapper{ 
	position: relative;
}
.tree_nav .ant-tree li .ant-tree-node-content-wrapper:hover .btn_add{
	display: block;
}
.tree_nav .btn_add,.tree_nav .btn_remove{
	position: absolute;
	right: 10px;
	height: 100%;
	top: 0;
	font-size: 13px;
	color: #969696;
	display: none;
	width: 48px;
	overflow: hidden;
	text-align: center;
}
.tree_nav .btn_remove{
	width: 54px !important;
	display: block !important;
}
.tree_nav .btn_add .anticon{
	font-size: 14px;
}
.tree_nav .btn_add:hover{
	color: #777777;
	font-weight: bold;
}
.tree_nav .btn_add:hover .anticon{
	color: #777777;
	font-weight: bold;
}
.contractor_box{
	padding: 5px 18px 15px;
}
.contractor_item{
	padding-top: 20px;
}
.contractor_box .item_title{
	padding-bottom: 6px;
}
.self_table{
	border: 1px solid #D8D8D8;
	line-height: 36px;
	border-bottom: none;
}
.self_table .self_table_cell{
	border-bottom: 1px solid #D8D8D8;
}
.self_table .self_table_cell:last-child{
	/* border-bottom: none; */
}
.self_table .self_table_cell .self_table_tr{
	border-right: 1px solid #D8D8D8;
	flex-shrink: 0;
	width: 25%;
	min-width: 200px;
	max-width: 350px;
	padding: 0 20px;
	color: #000000;
}
.self_table .self_table_cell .self_table_td{
	padding: 0 20px;
	flex-grow: 1;
	text-align: right;
	position: relative;
}
.error_text{
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 13px !important;
}
.add_level_btn{
	width: 95%;
	padding: 5px 0;
	margin: 20px auto;
	background: #bae7ff;
	opacity: 0.8;
}
.add_level_btn:hover{
	opacity: 1;
}
.add_level_btn > span{
	margin-left: 5px;
}
.profit_text{
	display: inline-flex;
	text-align: right;
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	justify-content: flex-end;
}
.del_node{
	
	color: #999999 !important;
}
.ant-tree li.del_node > .ant-tree-node-content-wrapper{
	color: #999999 !important;
	background: #F8F8F8 !important;
}
.ant-tree li.del_node > .ant-tree-node-content-wrapper:hover{
	background: #EFEFEF !important;
}
.ant-tree li.del_node > .ant-tree-node-content-wrapper.ant-tree-node-selected{
	background: #EFEFEF !important;
}
.ant-tree li{
	padding: 0 !important;
	margin: 7px 0 !important;
}
.ant-tree > li:first-child{
	padding: 0  !important;
}
.tree_search .ant-input-affix-wrapper .ant-input-suffix{
	top: 50%;
}


