.search_box{
	padding: 8px 15px;
	position: relative;
}
.search_item{
	padding: 6px 10px;
}
.search_item > span:first-child{
	width: 86px;
	text-align: right;
}
.search_item > span:last-child{
	flex-grow: 1;
	padding-left: 15px;
}
.search_btn_group{
	justify-content: flex-end;
	padding: 5px 10px;
}
.search_btn_group.open_search_box{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.search_btn_group .icon_up_down{
	opacity: 0.9;
}
.search_btn_group .icon_up_down:hover{
	font-weight: bold;
	opacity: 1;
}
.search_btn_group > button{
	margin-left: 8px;
}