.audit_inner{
	padding: 0 18px 10px;
}
.audit_inner_module{
	padding-top: 15px;
}
.audit_inner_module_name{
	padding-bottom: 8px;
}
.audit_inner_module_content{
	/* padding: 0 15px; */
}
.audit_info_item{
	width: 100%;
	padding: 10px 0;
}
.audit_module_pay .audit_info_item{ 
	padding: 8px 0;
}
.audit_inner .ant-table-thead > tr > th{
	font-weight: bold;
	padding: 12px 16px;
}
.audit_inner .ant-table-tbody > tr > td{
	padding: 12px 16px;
}
.img_inline span{
	position: relative;
}
.img_inline span a{
	position: absolute;
	right: 15px;
	bottom: 5px;
	color: #999988;
}
.img_inline span i:hover{
	color: #333333;
	cursor: pointer;
}
.img_inline img{
	width: 92px;
	height: 92px;
	display: block;
	margin-right: 10px;
	border-radius: 3px;
}
.ant-steps-dot .ant-steps-item-content, 
.ant-steps-dot.ant-steps-small .ant-steps-item-content{
	width: 95%;
	display: flex;
}
.ant-steps-dot .ant-steps-item-content > div, 
.ant-steps-dot.ant-steps-small .ant-steps-item-content > div{
	height: 24px;
	line-height: 24px;
	padding: 0;
}
.ant-steps-item-description{
	
	margin-left: 15px;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description .click_text{
	color: #2F54EB;
	cursor: pointer;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description .click_text:hover{
	font-weight: bold;
}
.desc_group span.click_text{
	margin: 0 10px 0 20px;
}

.desc_group span.tip_text{
	color: #F7B500
}
.space_title{
	padding-bottom: 40px;
	position: relative;
}
.space_phone{
	position: absolute;
	left: 0;
	bottom: 5px;
}
.ant-steps-item.success_step{
	height: 70px;
}
.success_step .ant-steps-item-title{
	position: relative;
	overflow: visible;
	padding-bottom: 55px !important;
}
.success_step .ant-steps-item-title .subtitle-phone{
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 240px;
	margin-left: 0;
}


