.ant-layout-header{
	height: 60px;
	line-height: 60rpx;
	background: #2F54EB;
	padding: 0 10px;
	position: relative;
}
.ant-menu{
	background: #2F54EB;
	color: #FFFFFF;
	font-size: 17px;
}
.ant-menu-horizontal > .ant-menu-item-selected{
	background: #1F3693;
}
.ant-menu-horizontal > .ant-menu-item, 
.ant-menu-horizontal > .ant-menu-submenu{
	border-bottom: none;
	top: 0
}
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover{
	border-bottom: none;
	top: 0;
	background: #1F3693;
}
.ant-menu.ant-menu-horizontal{
	border-bottom: none;
}
.logo {
  width: 235px;
  height: 34px;
  margin-top: 13px;
  float: left;
  color: #FFFFFF;
  position: relative;
  padding-right: 20px;
}
.logo .logo_text{
	height: 100%;
	position: absolute;
	right: 15px;
	top: 0;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	padding-right: 20px;
	border-right: 1px solid #D8D8D8;
	/* text-align: right; */
	text-justify : auto; text-align:justify; 
	
}
.logo .logo_text span{
	display: inline-block;
	height: 20px;
	line-height: 20px;
}
.logo .logo_text span:last-child{
	font-size: 10px;
	line-height: 14px;
}
.logo .logo_text span:first-child{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
.logo::before{
	content: " ";
	position: absolute;
	left: 0;
	top: 1px;
	display: block;
	width: 32px;
	height: 32px;
	background: url(../../image/logo.png) no-repeat center 100%;
}
.m_item{
	padding-left: 26px;
	position: relative;
	color: #FFFFFF;
}
.m_item > span{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 20px;
	height: 20px;
}
.admin_icon{
	height: 32px;
	line-height: 32px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #FFFFFF;
	display: flex;
	cursor: pointer;
	/* width: auto; */
}
.admin_icon:hover{
	opacity: 0.8;
}
.tip_set{
	position: absolute;
	z-index: 305;
	right: 15px;
	top: 62px;
	width: 120px;
	height: 80px;
	line-height: 40px;
	background: #FFFFFF;
	box-shadow:0 0 8px #BDBDBD;
	text-align: center;
}
.tip_set > div:hover{
	background: #F1F1F1;
	font-weight: bold;
}
.tip_set > div:last-child{
	border-top: 1px solid #DBDBDB;
}